body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: lightgrey;
}
header{
    background-color:grey;
    color: black;
    padding: 20px;
    text-align: center;
}
header h1{
    margin: 0;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color: palevioletred;

}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    color: black;
    text-decoration: wavy;
}
section{
    padding: 20px;
}
section h2{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color:palevioletred;
}
body{
    text-align: center;
}
footer{
    background-color:grey;
    color: black;
    padding: 20px;
    text-align: center;
}
footer h3{
    font-family: Satisfy, cursive;
    color: palevioletred;
}
#Skills ul{
    list-style-type: none;
}
@keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .animated-element {
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
  }
  
  
